<div class="container col-container" >
  <div class="row align-items-start mb-4 mt-5">
    <div class="col-12 me-auto">
      <h2>{{section.settings.main_title}}</h2>
    </div>
  </div>
  <div class="row align-items-start">
    <div class="col col-12 col-md-3 boot-caption">
      <h3 style="margin-bottom: 2%;">{{section.settings.secondary_title}}</h3>
      <p>{{section.settings.main_paragraph}}</p>     
    </div>      
    <div class="col col-12 col-md-7">
      <div class="row align-items-start">
      {% for block in section.blocks %}
        <div class="col-xs-12 col-md-3">
          <i class="fa-solid fa-{{block.settings.icon}} fa-3x me-auto"></i>
          <h4>{{block.settings.block_title}}
          <p>{{block.settings.block_paragraph}}</p>        
        </div>
      {% endfor %}    
      </div>
    </div>
  </div>         
</div>   

{% schema %} 
{ 
  "name": "Benefits Section", 
  "settings": [ 
    { 
      "type": "header", 
      "content": "Benefits Section" 
    }, 
    { 
      "type": "text", 
      "id": "main_title", 
      "label": "Main Title" 
    },
    { 
      "type": "text", 
      "id": "secondary_title", 
      "label": "secondary title" 
    },
    { 
      "type": "richtext", 
      "id": "main_paragraph", 
      "label": "main paragraph" 
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "center image"
    }
  ], 
  "blocks": [
  {
    "type": "column",
    "name": "Icon Blocks",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.multicolumn.blocks.column.settings.image.label"
      },
      {
        "type": "text",
        "id": "block_title",
        "default": "Block",
        "label": "Block Title"
      },
      {
        "type": "richtext",
        "id": "block_paragraph",
        "default": "<p>add text here to better describe the benefit</p>",
        "label": "Block Paragraph"
      },
      {
        "type": "select",
        "id": "icon",
        "options": [
          {
            "value": "pen",
            "label": "pen"
          },
          {
            "value": "info",
            "label": "info"
          },
          {
            "value": "question",
            "label": "question"
          }
        ],
        "default": "pen",
        "label": "pen"
      },
      {
        "type": "text",
        "id": "link_label",
        "label": "t:sections.multicolumn.blocks.column.settings.link_label.label"
      },
      {
        "type": "url",
        "id": "link",
        "label": "t:sections.multicolumn.blocks.column.settings.link.label"
      }
    ]
  }
],  
  "presets": [ 
    { 
      "name": "Benefits section", 
      "category": "video" 
    } 
  ] 
} 
{% endschema %} 