
<!-- <div class="featured lazy">
 style="background: url({% if section.settings.img_product %}{{ section.settings.img_product }}{% else %}https://via.placeholder.com/1200x800{% endif %}) 50% 70%;"> 
  <video id="background-video" autoplay loop muted poster="{{ section.settings.img_product }}">
    <source src="{{ section.settings.img_product }}" type="video/mp4">
    </video>
</div>  -->
<!-- /featured --> 

<div class="video-wrapper">
  <figure>
    <video loop muted="muted" autoplay>
      <source src="{{ section.settings.img_product }}"/>
    </video>
  </figure>
</div>
  <div class="stretch1" style="visibility: hidden">
    <div class="codecontainer">
      <h2>{{ section.settings.section_title }}</h2>
      <p>{{ section.settings.section_text }}</p>
    </div>
</div>
<div class="stretch2">
  <div class="codecontainer">
    <h2>{{ section.settings.section_title2 }}</h2>
    <p>{{ section.settings.section_text2 }}</p>
  </div>
</div>

<script>
  // $(window).scroll(function(e){ 
  //   var el1 = $('.stretch1'); 
  //   var viewportHeight = $("body"). innerHeight()
  //   var fromTop = el1.offset().top; - viewportHeight
  //   var divHeight = $('.fc2Div').height();
  //   var bottomLimit = fromTop + divHeight - viewportHeight;
  //   var isPositionFixed = ($el.css('position') == 'fixed');
  //   if ($(this).scrollTop() > fromTop){ 
  //     $el.fadeIn('slow');
  //     $el.css({'visibility': 'visible'}); 
  //   }
  // });
</script>
  
{% schema %} 
{ 
  "name": "Background Video Parallax", 
  "settings": [ 
    { 
      "type": "header", 
      "content": "Background Video Parallax" 
    }, 
    { 
      "type": "text", 
      "id": "img_product", 
      "label": "Section image" 
    },
    { 
      "type": "text", 
      "id": "section_title", 
      "label": "Section title 1" 
    },
    { 
      "type": "richtext", 
      "id": "section_text", 
      "label": "Section content 1" 
    },
    { 
      "type": "text", 
      "id": "section_title2", 
      "label": "Section title 2" 
    },
    { 
      "type": "richtext", 
      "id": "section_text2", 
      "label": "Section content 2" 
    }
  ], 
  "presets": [ 
    { 
      "name": "Video Parallax", 
      "category": "video" 
    } 
  ] 
} 
{% endschema %} 
