
<!-- <div class="featured lazy">
 style="background: url({% if section.settings.img_product %}{{ section.settings.img_product }}{% else %}https://via.placeholder.com/1200x800{% endif %}) 50% 70%;"> 
  <video id="background-video" autoplay loop muted poster="{{ section.settings.img_product }}">
    <source src="{{ section.settings.img_product }}" type="video/mp4">
    </video>
</div>  -->
<!-- /featured --> 

<div class="video-wrapper">
  <figure>
    <video loop muted="muted" autoplay>
      <source src="{{ section.settings.img_product }}"/>
    </video>
  </figure>
</div>
  <div class="stretch3" >
    <div class="codecontainer">
      <h2>{{ section.settings.section_title }}</h2>
      <p>{{ section.settings.section_text }}</p>
    </div>
</div>
<div class="stretch2">
  <div class="codecontainer">
    <h2>{{ section.settings.section_title2 }}</h2>
    <p>{{ section.settings.section_text2 }}</p>
  </div>
</div>

<script>
  // $(window).on("scroll", function(){
  // if($(window).scrollTop() + $(window).height() - 100 >= $(".stretch3").offset().top){
  //   alert("On viewport");
  // }
  // })

  jQuery(window).scroll(function () {
    if (jQuery(this).scrollTop() + $(window).height() >= $(".stretch3").offset().top && jQuery(this).scrollTop() <= $(".stretch3").offset().top + $(".stretch3").height() + $(window).height()) {
        if (jQuery('.stretch3').hasClass('visible') == false) {
            jQuery('.stretch3').stop().animate({
                left: '0px'
            }, 1000, function () {
                jQuery('.stretch3').addClass('visible')
            });
        }
    } else {
        if (jQuery('.stretch3').hasClass('visible') == true) {
            jQuery('.stretch3').stop().animate({
                left: $('.stretch3').width()
            }, 1000, function () {
                jQuery('.stretch3').removeClass('visible')
            });
        }
    }
});

jQuery(window).scroll(function () {
if (jQuery(this).scrollTop() + $(window).height() >= $(".stretch2").offset().top) {
        if (jQuery('.stretch2').hasClass('visible') == false) {
            jQuery('.stretch2').stop().animate({
                right: '0px'
            }, 1000, function () {
                jQuery('.stretch2').addClass('visible')
            });
        }
    } else {
        if (jQuery('.stretch2').hasClass('visible') == true) {
            jQuery('.stretch2').stop().animate({
                right: $('.stretch2').width()
            }, 1000, function () {
                jQuery('.stretch2').removeClass('visible')
            });
        }
    }
});

</script>
  
{% schema %} 
{ 
  "name": "Background Video Parallax", 
  "settings": [ 
    { 
      "type": "header", 
      "content": "Background Video Parallax" 
    }, 
    { 
      "type": "text", 
      "id": "img_product", 
      "label": "Section image" 
    },
    { 
      "type": "text", 
      "id": "section_title", 
      "label": "Section title 1" 
    },
    { 
      "type": "richtext", 
      "id": "section_text", 
      "label": "Section content 1" 
    },
    { 
      "type": "text", 
      "id": "section_title2", 
      "label": "Section title 2" 
    },
    { 
      "type": "richtext", 
      "id": "section_text2", 
      "label": "Section content 2" 
    }
  ], 
  "presets": [ 
    { 
      "name": "Video Parallax", 
      "category": "video" 
    } 
  ] 
} 
{% endschema %} 
