<div class="img-wrapper-plax">
  <div class="video-wrapper">
  </div>
  <div class="stretch3" >
    <div class="codecontainer">
      <h2>{{ section.settings.section_title }}</h2>
      <p>{{ section.settings.section_text }}</p>
    </div>
  </div>
  <div class="stretch2">
    <div class="codecontainer">
      <h2>{{ section.settings.section_title2 }}</h2>
      <p>{{ section.settings.section_text2 }}</p>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    const imgHeight1 = ($(".stretch3").height() + $(".stretch2").height()) * 1.3

    if ($("body").innerWidth() < 769){
      console.log("width", $("body").innerWidth())
      $(".video-wrapper").remove()
      $(".stretch3").css("margin-top", "0px")
      $(".img-wrapper-plax").css({"background-image": "url('{{ section.settings.mobile_img }}')", "max-width": $("body").innerWidth() })
    }else{
      $(".video-wrapper").html("<figure><video class='top-vw' loop muted='muted' autoplay='true'><source src='{{ section.settings.img_product }}'/></video></figure>")
    }
  });

  if ($("body").innerWidth() < 769) {
    $(document).ready(function() {
      const vidDiv = $(".top-vw");
      const miniHeight = ($(".stretch3").height() + $(".stretch2").height()) * 1.5;
      const maxiWidth = $("body").innerWidth() * 1.3;
      console.log("miniHeight:", miniHeight)
      vidDiv.css({"min-height": miniHeight+"px", "max-width": maxiWidth+"px"})
      
    })
 }
  jQuery(window).scroll(function () {
    const topLimit3 = jQuery(".stretch3").offset().top - jQuery(window).height()
    const bottomLimit3 = jQuery(".stretch3").offset().top + jQuery(".stretch3").height() 
    if (jQuery(this).scrollTop() > jQuery(".stretch3").offset().top - jQuery(window).height()) {
      console.log(topLimit3, bottomLimit3)
        if (jQuery('.stretch3').hasClass('visible') == false) {
            jQuery('.stretch3').animate({
                left: '0px'
            }, 2000, function () {
                jQuery('.stretch3').addClass('visible')
            });
        }
    } else {
        if (jQuery('.stretch3').hasClass('visible') == true) {
            jQuery('.stretch3').animate({
                left: -(jQuery('.stretch3').outerWidth())
            }, function () {
                jQuery('.stretch3').removeClass('visible')
            });
        }
    }
});

jQuery(window).scroll(function () {
  const topLimit2 =  jQuery(".stretch2").offset().top - jQuery(window).height() 
  const bottomLimit2 = jQuery(".stretch2").offset().top + jQuery(".stretch2").height() + jQuery(window).height()
if (jQuery(this).scrollTop() > jQuery(".stretch2").offset().top - jQuery(window).height()) {
   console.log("2", topLimit2, bottomLimit2)
        if (jQuery('.stretch2').hasClass('visible') == false) {
            jQuery('.stretch2').animate({
                right: '0px'
            }, 2000, function () {
                jQuery('.stretch2').addClass('visible')
            });
        }
    } else {
        if (jQuery('.stretch2').hasClass('visible') == true) {
            jQuery('.stretch2').animate({
                right: -(jQuery('.stretch2').outerWidth())
            }, function () {
                jQuery('.stretch2').removeClass('visible')
            });
        }
    }
});

</script>
  
{% schema %} 
{ 
  "name": "Background Video Parallax", 
  "settings": [ 
    { 
      "type": "header", 
      "content": "Background Video Parallax" 
    }, 
    { 
      "type": "text", 
      "id": "img_product", 
      "label": "Section video" 
    },
    { 
      "type": "text", 
      "id": "mobile_img", 
      "label": "Mobile Image" 
    },
    {
      "type": "text", 
      "id": "alt_desc", 
      "label": "Image Alt Description" 
    },
    { 
      "type": "text", 
      "id": "section_title", 
      "label": "Section title 1" 
    },
    { 
      "type": "richtext", 
      "id": "section_text", 
      "label": "Section content 1" 
    },
    { 
      "type": "text", 
      "id": "section_title2", 
      "label": "Section title 2" 
    },
    { 
      "type": "richtext", 
      "id": "section_text2", 
      "label": "Section content 2" 
    }
  ], 
  "presets": [ 
    { 
      "name": "Video Parallax", 
      "category": "video" 
    } 
  ] 
} 
{% endschema %} 
