<div class="video-wrapper-bottom">
  <div class="video-container-bottom">
    <video autoplay muted loop>
        <source src="{{ section.settings.img_product }}" type="video/mp4" />
    </video>
  </div>
    <div class="caption" >
      <div class="bp-text" >
        <h2>{{ section.settings.section_title }}</h2>
        <p>{{ section.settings.section_text }}</p>
    </div>
    <div class="center-image-container">
        <img src="{{ section.settings.image | image_url: width: 200 }}">
    </div>
  </div>
</div>
<!-- 
<div class="videoz">
  <video loop muted="muted" autoplay>
      <source src="{{ section.settings.img_product }}"/>
      </video>
      </div>
    </div>  
  </div>
  <div class="center-content-parallax" >
      <div class="bp-text" >
        <h2>{{ section.settings.section_title }}</h2>
        <p>{{ section.settings.section_text }}</p>
    </div>
    <div class="center-image-container">
        <img src="{{ section.settings.image | image_url: width: 200 }}">
    </div>
  </div> -->

  <script>

  
  </script>
    
  {% schema %} 
  { 
    "name": "Bottom Parallax", 
    "settings": [ 
      { 
        "type": "header", 
        "content": "Bottom Parallax" 
      }, 
      { 
        "type": "text", 
        "id": "img_product", 
        "label": "Section video" 
      },
      { 
        "type": "text", 
        "id": "section_title", 
        "label": "Section title 1" 
      },
      { 
        "type": "richtext", 
        "id": "section_text", 
        "label": "Section content 1" 
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "center image"
      }
    ], 
    "presets": [ 
      { 
        "name": "Bottom Parallax", 
        "category": "video" 
      } 
    ] 
  } 
  {% endschema %} 