{% style %}
.main-pep-div {
    align-items: center;
}
.background-image-div {        
    text-align: center;
    align-items: center; 
    justify-content: center;
}
.info-image{
    pointer-events: none;
    max-width: 50%;
    max-height: auto;
    align-self: center;
}
.mi-title {
    padding: 25px;
}

.mi-title h2 {
    font-size: 3.7rem;
}

.pep-content-row {
    font-size: 2rem;
}

{% endstyle %}

<div class="main-pep-div container col-container pt-md-5 pb-md-5">
    <div class="row">
        <div class="col-md-8 me-auto col-12 mi-title">
            <h2>{{section.settings.main_title}}</h2>
        </div>
    </div>

    <div class="pep-content-row d-flex flex-row justify-content-around p-md-5">
        <div class="left-paragraph" style="visibility: hidden;" >
            <p>{{section.settings.left_text}}</p>
        </div>
        <div class="background-image-div">
            <img class="info-image bg-image" src="{{section.settings.background_image}}" alt="{{section.settings.alt}}">
        </div>
        <div class="right-paragraph" style="opacity: 0;" >
            <p>{{section.settings.right_text}}</p>
        </div>
    </div>
</div>

<script>
$(window).scroll(function(e){
    const leftPar = $('.left-paragraph');
    const rightPar = $('.right-paragraph');
    const topSpace = $('.main-pep-div').offset().top;
    const divHeight = $('.main-pep-div').height();
    const viewportHeight = $('body').innerHeight();
    const spaceAboveDiv = viewportHeight - divHeight;
    const triggerPoint1 = topSpace - spaceAboveDiv;
    const triggerPoint2 = topSpace - (spaceAboveDiv * .3)

    if($(this).scrollTop() > triggerPoint1) {
        leftPar.css('visibility', 'visible').fadeIn('slow');
    }
    if($(this).scrollTop() >  triggerPoint2) {
        rightPar.fadeTn('slow', 1);       
    }
})

</script>

{% schema %}
{
    "name": "Capsule Info Section",
    "settings": [
    {
    "type": "header",
    "content": "Capsule Info Section"
    },
    {
    "type": "text",
    "id": "background_image",
    "label": "Background Image Link"
    },
    {
    "type": "text",
    "id": "alt",
    "label": "background image alt text"
    },
    {
    "type": "text",
    "id": "main_title",
    "label": "Section Title"
    },
    {
    "type": "richtext",
    "id": "left_text",
    "label": "left paragraph"
    },
    {
    "type": "richtext",
    "id": "right_text",
    "label": "right paragraph"
    }
],
"presets": [
{
"name": "Capsule info section"
}
]
}
{% endschema %}