{% style %}
.main-pep-div {
    align-items: center;
}
.background-image-div {        
    text-align: center;
    align-items: center; 
    justify-content: center;
}
.info-image{
    pointer-events: none;
    max-width: 50%;
    max-height: auto;
    align-self: center;
}
.mi-title {
    padding: 25px;
}

.mi-title h2 {
    font-size: 3.7rem;
}

.pep-content-row {
    font-size: 2rem;
}

{% endstyle %}

<div class="main-pep-div container col-container">
    <div class="row">
        <div class="col-md-8 col-12 offset-md-1 mi-title">
            <h2>{{section.settings.main_title}}</h2>
        </div>
    </div>

    <div class="pep-content-row d-flex flex-row justify-content-around p-md-5">
        <div class="left-paragraph ">
            <p>{{section.settings.left_text}}</p>
        </div>
        <div class="background-image-div" >
            <img class="info-image bg-image" src="{{section.settings.background_image}}" alt="{{section.settings.alt}}">
        </div>
        <div class="right-paragraph">
            <p>{{section.settings.right_text}}</p>
        </div>
    </div>
</div>



{% schema %}
{
    "name": "Capsule Info Section",
    "settings": [
    {
    "type": "header",
    "content": "Capsule Info Section"
    },
    {
    "type": "text",
    "id": "background_image",
    "label": "Background Image Link"
    },
    {
    "type": "text",
    "id": "alt",
    "label": "background image alt text"
    },
    {
    "type": "text",
    "id": "main_title",
    "label": "Section Title"
    },
    {
    "type": "richtext",
    "id": "left_text",
    "label": "left paragraph"
    },
    {
    "type": "richtext",
    "id": "right_text",
    "label": "right paragraph"
    }
],
"presets": [
{
"name": "Capsule info section"
}
]
}
{% endschema %}