{% style %}
.background-image-div {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.img{
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.mi-title {
    padding: 25px;
}

{% endstyle %}

<div class="main-info-container">
    <div class="background-image-div">
        <img class="info-image bg-image" src="{{section.settings.background_image}}" alt="{{section.settings.alt}}">
        <div class="mi-title">
            <h2>{{section.settings.main_title}}</h2>
        </div>
        <div class="left-paragraph">
            <p>{{section.settings.left_text}}</p>
        </div>
        <div class="right-paragraph">
            <p>{{section.settings.right_text}}</p>
        </div>
    </div>
</div>


{% schema %}
{
    "name": "Capsule Info Section",
    "settings": [
    {
    "type": "header",
    "content": "Capsule Info Section"
    },
    {
    "type": "text",
    "id": "background_image",
    "label": "Background Image Link"
    },
    {
    "type": "text",
    "id": "alt",
    "label": "background image alt text"
    },
    {
    "type": "text",
    "id": "main_title",
    "label": "Section Title"
    },
    {
    "type": "richtext",
    "id": "left_text",
    "label": "left paragraph"
    },
    {
    "type": "richtext",
    "id": "right_text",
    "label": "right paragraph"
    }
],
"presets": [
{
"name": "Capsule info section"
}
]
}
{% endschema %}