{% style %}
.main-pep-div {
    overflow: hidden;
    display: flex;
}
.background-image-div {
    
        width: 200px;
        height: 200px;
        overflow: hidden;
        /* Magic */
        display: flex;
        align-items: center; /* vertical */
        justify-content: center; /* horizontal */
}
.img{
    pointer-events: none;
    max-width: 100%;
    align-self: center;
}
.mi-title {
    padding: 25px;
}

{% endstyle %}

<div class="main-pep-div">
    <div class="background-image-div">
        <img class="info-image bg-image" src="{{section.settings.background_image}}" alt="{{section.settings.alt}}">
    </div>
    <div class="mi-title">
        <h2>{{section.settings.main_title}}</h2>
    </div>
    <div class="left-paragraph">
        <p>{{section.settings.left_text}}</p>
    </div>
    <div class="right-paragraph">
        <p>{{section.settings.right_text}}</p>
    </div>
</div>



{% schema %}
{
    "name": "Capsule Info Section",
    "settings": [
    {
    "type": "header",
    "content": "Capsule Info Section"
    },
    {
    "type": "text",
    "id": "background_image",
    "label": "Background Image Link"
    },
    {
    "type": "text",
    "id": "alt",
    "label": "background image alt text"
    },
    {
    "type": "text",
    "id": "main_title",
    "label": "Section Title"
    },
    {
    "type": "richtext",
    "id": "left_text",
    "label": "left paragraph"
    },
    {
    "type": "richtext",
    "id": "right_text",
    "label": "right paragraph"
    }
],
"presets": [
{
"name": "Capsule info section"
}
]
}
{% endschema %}